.github {
    display: flex;
    padding: 0.4375rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.4375rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(17px);
    color: #fff;
    text-align: center;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 1.5rem */
}
